{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "editor.formatOnSave": true,
    "[blade]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    }
}
