.list-group-item.active {
  background-color: #858d89;
  border-color: #858d89;
}

.vhostStatusLabel {
  margin: 15px 0 0 30px !important;
}

.startVhost,
.deleteVhost,
.newVhost,
.fileendingIncorrect,
.certbotVhost,
.stopVhost {
  cursor: pointer;
}

.preWrapped {
  white-space: pre-wrap;
  height: 400px;
  overflow-y: scroll;
}

.importantInfo {
  width: 200px;
  margin: auto;
}

.gimmeShadow {
  box-shadow: 17px 18px 21px 12px rgba(50, 50, 50, 0.96);
}

#consoleWrapper {
  min-width: 600px;
  height: 500px;
  margin-top: 50px;
}

#console {
  overflow-y: scroll;
  height: 450px;
  background-color: #4a4a4a;
  border-radius: 5px;
  padding: 5px;
  margin-top: 12px;
  width: 100%;
}

.editPencilVHost {
  top: -12px;
  left: 7px;
  position: relative !important;
  font-size: 10px !important;
  display: inline !important;
}

.appendedTextInput {
  width: 190px;
}

.hideForce {
  display: none !important;
}

.labelCheckbox {
  padding: 0 0 5px 0;
}

